<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Proxy to Nodejs" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Prevent External Redirect Rewrite" preCondition="ResponseIsRedirect">
                    <match serverVariable="RESPONSE_Location" pattern="^https://cognito-idp\.us-east-1\.amazonaws\.com/(.*)" />
                    <action type="None" />
                </rule>
                
                <preConditions>
                    <preCondition name="ResponseIsRedirect">
                        <add input="{RESPONSE_STATUS}" pattern="302" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>