<div class="registro-container">
  <h2>Registrarse</h2>
  <form (ngSubmit)="onRegister()" #form="ngForm" class="registro-form">
    <input type="text" [(ngModel)]="user.nombre" name="nombre" placeholder="Nombre" required />
    <input type="text" [(ngModel)]="user.apellido" name="apellido" placeholder="Apellido" required />
    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required />
    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña" required />
    <input type="text" [(ngModel)]="user.telefono" name="telefono" placeholder="Teléfono" required />
    <input type="text" [(ngModel)]="user.direccion" name="direccion" placeholder="Dirección" required />
    <input type="text" [(ngModel)]="user.dni" name="dni" placeholder="DNI" required />

    <button type="submit" [disabled]="form.invalid">Registrarse</button>
    <a href="/login" >Ir a iniciar sesión</a>
  </form>
</div>
