<div class="full-page-section">
  <section class="book-carousel">
    <h2 class="h2-titulo">{{ title }}</h2>
    <div class="carousel-container">
      <div class="carousel-slide">
        <div class="book-card" *ngFor="let book of visibleBooks">
          <img [src]="book.cover" [alt]="book.title" (error)="book.cover = 'logo.png'">
          <h2>{{ book.title }}</h2>
          <p>{{ book.author }}</p>
          <span class="price">{{ book.price | currency }}</span>
          <button class="buy-btn" (click)="addToCart(book)">Comprar</button>
        </div>
      </div>
      <button class="prev" (click)="prevSlide()" [disabled]="currentIndex === 0">❮</button>
      <button class="next" (click)="nextSlide()" [disabled]="currentIndex >= books.length - visibleItems">❯</button>
    </div>
  </section>
</div>
